.terraform*
terraform.*
.gitattributes
.terraform
terraform.tfstate
terraform.tfstate.backup
.gitattributes
terraform_on_aws/terraform.tfstate.backup
terraform_on_aws/.terraform
terraform_on_aws/.terraform.lock.hcl